<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Partner</title>
  <style>
    h1 {
      font-size: 1em;
      font-family: -webkit-pictograph;
      /* text-align: center; */
    }

    p {
      font-family: -webkit-pictograph;
      text-align: justify;
      /* text-align: center; */
    }

    a {
      text-decoration: none;
    }

    button {
      background: #01C57D;
      border: none;
      border-radius: 8px;
      padding: 0.65rem 2rem;
      color: #fff;
      margin: 0 auto;
      display: block;
    }
    .add{
            font-family: -webkit-pictograph;
        color: #494949;
        width: 100%;
        /* text-align: center; */
        margin-top: 4rem;
        }
  </style>
</head>

<body>
  <h1>Dear User, </h1>
  <p>Find the OTP for yout account verification. <br> OTP:  <%= otp %></p>
  
 
</body>

</html>