:root {
  --dark: #1c2436;
  --darker: #191f2c;
  --success: #1cca8d;
  --primary: #1e90ff;
  --danger: #db462c;
  --warning: #ffd104;
  --text-dark: #161616;
}

.bg-themed {
  background-color: #2196f3;
}

.search {
  margin-left: 60rem;
}

.upload-card {
  min-height: 86vh;
  transition: all 1s;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-btn{
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.upload-card:hover{
  box-shadow: 1px 2px 10px 6px rgba(209,209,209,0.83);
-webkit-box-shadow: 1px 2px 10px 6px rgba(209,209,209,0.83);
-moz-box-shadow: 1px 2px 10px 6px rgba(209,209,209,0.83);

}


.user-image{
  height: 200px;
  width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
